obj
UniveristyRegisterSystem/bin/*.pdb
UniveristyRegisterSystem/bin/*.xml
UniveristyRegisterSystem/bin/*.config
UniveristyRegisterSystem/bin/pl/*
UniveristyRegisterSystem/obj/*
packages/*
.vs
.git
*.pdb