@{
    ViewBag.Title = "Strona główna";
}

<form id="form1" runat="server">
    <div>
        <Label ID="lblUserDetails" runat="server">
            <br />
            @*<button id="btnLogout" runat="server" OnClick="btnLogout_Click">Wyloguj</button>*@
        </Label>
    </div>
</form>
<div class="jumbotron" style="text-align: center; background-image:url('../../Content/university.jpg'); color: white">
    <h1>University Register System</h1>
    <hr />
    <p>Aplikacja University Register System została utworzona w ASP.NET MVC 5, z wykorzystaniem frameworka Entity Framework i bazy danych SQL.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Zarządzaj studentami</h2>
        <p>
            Możesz dodawać, usuwać, lub edytować istniejących studentów. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim, ligula ac varius imperdiet, libero ipsum faucibus neque, sit amet faucibus leo purus non mauris.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Zarządzaj zajęciami</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim, ligula ac variusfsdfds imperdiet, libero ipsum faucibus neque, sit amet faucibus leo purus non mauris. Duis et hendrerit orci, eget gravida arcu. Nulla lorem elit, fermentum ac nunc vitae, dapibus auctor nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean laoreet ipsum ac est dictum, vitae aliquet nibh tempor. Integer tristique arcu tincidunt purus aliquet, nec mollis ex mattis.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Zarządzaj nauczycielami</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim, ligula ac varius imperdiet, libero ipsum faucibus neque, sit amet faucibus leo purus non mauris. Duis et hendrerit orci, eget gravida arcu. Nulla lorem elit, fermentum ac nunc vitae, dapibus auctor nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean laoreet ipsum ac est dictum, vitae aliquet nibh tempor. Integer tristique arcu tincidunt purus aliquet, nec mollis ex mattis.
        </p>
    </div>
</div>